table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  @include mobile {
    font-size: 14px;
  }

  @include tablet {
    font-size: 15px;
  }

  th,
  td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid $table-border-color;
  }

  th {
    background-color: $table-row-bg-color;
    color: #333;
  }
}
