.text-primary {
  color: #e60023 !important;
}

.text-secondary {
  color: #5f5f5f !important;
}

.border-radius-2 {
  border-radius: 2rem !important;
}

.border-radius-4 {
  border-radius: 4rem !important;
}

.border-secondary {
  border: 1px solid #5f5f5f;
}

.fs-1 {
  font-size: 2rem !important;
}

.cursor-pointer {
  cursor: pointer;
}

.h-1 {
  height: 1rem;
}

.h-2 {
  height: 2rem;
}

.h-3 {
  height: 3rem;
}

.w-5 {
  width: 5rem;
}

.w-6 {
  width: 6rem;
}

.w-7 {
  width: 7rem;
}

.w-100 {
  width: 100%;
}

.fs-1 {
  font-size: 1rem;
}

.font-weight-bold {
  font-weight: 600;
}

.posistion-relative {
  position: relative;
}

// Flex:
.flex-025 {
  flex: 0.25;
}

.flex-075 {
  flex: 0.75;
}

.border-none {
  border: none;
}

.outline-none {
  outline: none;
}

@media (min-width: 801px) {
  .md-display-none {
    display: none;
  }
}

/* Small screens (mobile) */
@media only screen and (max-width: 961px) {
  input {
    display: none;
  }

  #basic-nav-dropdown {
    display: none;
  }
}

@media (min-width: 992px) {
  .image-list li {
    width: 16.66%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .image-list li {
    width: 25%;
  }
}

@media (max-width: 767.98px) {
  .image-list li {
    width: 50%;
  }
}

#basic-nav-dropdown {
  color: #343a40 !important;
  font-weight: bold;
}
